.dashboard {
  display: flex;
  height: 110vh;

  background-size: cover;
  background-position: auto;
  background-repeat: repeat;
}

/* Dark overlay so content is readable */
.dashboard::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.dashboard > * {
  position: relative;
  z-index: 1;
}

/* Main area */
.main {
  flex: 1;
  position: relative;
  overflow: hidden;
  color: white;
}

/* Content sits above background */
.main > * {
  position: relative;
  z-index: 1;
}


/* Sidebar */
.sidebar {
  width: 240px;
  background: #3b4cca;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
}

.sidebar h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  transition: background 0.2s;
}

.sidebar a:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Topbar */
.topbar {
  height: 60px;
  background: rgb(44, 39, 39);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.topbar h3 {
  margin: 0;
}

.topbar button {
  background: #ff4d4d;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.topbar button:hover {
  background: #cc0000;
}

/* Content area */
.content {
  padding: 1.5rem;
  overflow-y: auto;
}

/* Card grid */
.card-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  padding: 20px;
}

/* Pokemon card */
.card {
  background: rgb(236, 234, 234);
  border-radius: 12px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.card h4 {
  margin-top: 0.5rem;
  color: #333;
}

.card p {
  color: #666;
  font-size: 0.9rem;
}

/* PAGINATION CONTAINER */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
  flex-wrap: wrap;
}

/* BUTTON BASE */
.page-btn,
.page-number {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #1e293b;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* HOVER */
.page-btn:hover,
.page-number:hover {
  background: #334155;
}

/* ACTIVE PAGE */
.page-number.active {
  background: #38bdf8;
  color: black;
  font-weight: bold;
  border-color: #38bdf8;
}

/* DISABLED */
.page-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* MOBILE FRIENDLY */
@media (max-width: 600px) {
  .page-number {
    padding: 6px 10px;
    font-size: 14px;
  }
}